* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bill-burke-uLprPp3qayI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.factcontainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.factcontainer h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.factcontainer p {
    font-size: 24px;
    margin-bottom: 30px;
}

.button-container {
    padding: 20px 0;
}

.button-container button {
    background-color: #630436;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #630436;
}

.result-container {
    padding: 20px 0;
}

.factcontainer .fact {
    padding: 4%;
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    body {
        background-size: cover;
        height: auto;
    }
    .factcontainer {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px;
    }
    .factcontainer h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .factcontainer p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .factcontainer button {
        padding: 8px 16px;
        font-size: 14px;
    }
    .factcontainer .result {
        font-size: 16px;
        margin-top: 50px;
    }
}